<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Site name for smallar screens -->
            <a href="/" class="brand"><span class="brand-title">St.Mary & St.George Church </span></a>

            <!-- Navigation starts -->
            <div class="nav-collapse collapse">

                <div class="pull-right navbar-logo">
                    <ul class="nav pull-right">
                        <li>
                            <a href="https://www.facebook.com/CYRIL1FRANCIS" target="_blank">
                                <img src="../../Content/images/facebook.png" />
                            </a>
                        </li>
                         <li>
                             <a href="https://www.linkedin.com/in/kiroloss-francis-47359764/" target="_blank">
                                 <img src="../../Content/images/Linkedin.png" />
                             </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>