<section class="mainbar" data-ng-controller="work as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}" ></div>
                    <div class="widget-content user">
                      
                        <div class="widget wblue">
                            <div data-cc-widget-header title="{{vm.veolia}} {{vm.veoliaDate}}" allow-collapse="true"></div>
                            <div class="widget-content user">
                                <h1 class="dashboardtext paragraphpadding">{{vm.veoliaTitle}} </h1>
                                <h3 class="dashboardtext paragraphpadding">{{vm.roleResponsilbity}}</h3>
                                <ul class="listleft">
                                    <li ng-repeat="x in vm.veoliaList">{{x}}</li>
                                </ul>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="widget wblue">
                            <div data-cc-widget-header title="{{vm.veolia2}} {{vm.veoliaDate2}}" allow-collapse="true"></div>
                            <div class="widget-content user">
                                <h1 class="dashboardtext paragraphpadding">{{vm.veoliaTitle2}} </h1>
                                <h3 class="dashboardtext paragraphpadding">{{vm.roleResponsilbity}}</h3>
                                <ul class="listleft">
                                    <li ng-repeat="x in vm.veolia2List">{{x}}</li>
                                </ul>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="widget wblue">
                            <div data-cc-widget-header title="{{vm.stmary}} {{vm.stmaryDate}}" allow-collapse="true"></div>
                            <div class="widget-content user">
                                <h1 class="dashboardtext paragraphpadding">{{vm.stmaryTitle}} </h1>
                                <h3 class="dashboardtext paragraphpadding">{{vm.roleResponsilbity}}</h3>
                                <ul class="listleft">
                                    <li ng-repeat="x in vm.stmaryList">{{x}}</li>
                                </ul>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="widget wblue">
                            <div data-cc-widget-header title="{{vm.srs}} {{vm.srsDate}}" allow-collapse="true"></div>
                            <div class="widget-content user">
                                <h1 class="dashboardtext paragraphpadding">{{vm.srsTitle}} </h1>
                                <h3 class="dashboardtext paragraphpadding">{{vm.roleResponsilbity}}</h3>
                                <ul class="listleft">
                                    <li ng-repeat="x in vm.srsList">{{x}}</li>
                                </ul>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="widget wblue">
                            <div data-cc-widget-header title="{{vm.augusta}} {{vm.augustaDate}}}" allow-collapse="true"></div>
                            <div class="widget-content user">
                                <h1 class="dashboardtext paragraphpadding">{{vm.augustaTitle}} </h1>
                                <h3 class="dashboardtext paragraphpadding">{{vm.roleResponsilbity}}</h3>
                                <ul class="listleft">
                                    <li ng-repeat="x in vm.augustaList">{{x}}</li>
                                </ul>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="widget wblue">
                            <div data-cc-widget-header title="{{vm.augustine}} {{vm.augustine}}" allow-collapse="true"></div>
                            <div class="widget-content user">
                                <h1 class="dashboardtext paragraphpadding">{{vm.augustineTitle}} </h1>
                                <h3 class="dashboardtext paragraphpadding">{{vm.roleResponsilbity}}</h3>
                                <ul class="listleft">
                                    <li ng-repeat="x in vm.augustineList">{{x}}</li>
                                </ul>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="widget wblue">
                            <div data-cc-widget-header title="{{vm.micheal}} {{vm.michealDate}}" allow-collapse="true"></div>
                            <div class="widget-content user">
                                <h1 class="dashboardtext paragraphpadding">{{vm.michealTitle}} </h1>
                                <h3 class="dashboardtext paragraphpadding">{{vm.roleResponsilbity}}</h3>
                                <ul class="listleft">
                                    <li ng-repeat="x in vm.michealList">{{x}}</li>
                                </ul>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="widget wblue">
                            <div data-cc-widget-header title="{{vm.army}} {{vm.armyDate}}" allow-collapse="true"></div>
                            <div class="widget-content user">
                                <h1 class="dashboardtext paragraphpadding">{{vm.armyTitle}} </h1>
                                <h3 class="dashboardtext paragraphpadding">{{vm.roleResponsilbity}}</h3>
                                <ul class="listleft">
                                    <li ng-repeat="x in vm.armyList">{{x}}</li>
                                </ul>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>